@font-face {
    font-family: cursiva;
    src: url(ArtisoulSignature.ttf);
}

nav.menu-lateral.expand ~ section .content{
    margin-left: 55px;
}

section{
    margin-left: 73px;
    transition: .4s ease;
    /* background-color: red; */
    height: 100vh;
}

.content{
    height: 100%;
    display: flex;
    margin-left: 145px;
    max-width: 1000px;
    /* background-color: aqua; */
    transition: .4s ease;
    justify-content: center
}

nav.menu-lateral.expand ~ section{
    margin-left: 263px;
}

section#home .content{
    padding: 10px 0px 0px 0px;
    /* max-width: 600px; */
}

section .content .container-home{
    /* background-color: brown; */
    display: block;
    
}

section .container-home .introducao{
    margin-top: 30px;
    font-size: 20px;
    max-width: 600px;
    /* margin-left: 50px; */
    text-align: center;
    /* background-color: blue; */
}

section .content .video-home{
    margin-top: 150px;
    /* margin-left: 50px; */
    border-radius: 6px;
    width: 600px;
    height: 335px;
    transition: .4s ease-in-out;
    box-shadow: 0px 3px 20px gray;
}

.titulo{
    font-family: cursiva;
}

#home .titulo{
    font-size: 70px;
    position: absolute;
    font-weight: 100;
}




/* 
section .content .titulo{
    display: flex;
    color: rgb(0, 0, 0);
    margin-bottom: 0px;
    margin-left: 60px;
    font-size: 70px;
    font-weight: 100 ;
    font-family: cursiva;
    width: 500px;
    position: relative;
}



section .content .video{
    width: 235px;
    height: auto;
    
} */